/*homepage*/
.container{
    display:grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 10px;
    

}
.banner{
    width:100%;
    
}
.aboutus-images{
    width:100%;
   
}
.about-container{
    display:grid;
    grid-template-columns: 1fr 1fr;
    column-gap:10px;
    border-radius:8px;
    transition:all 0.5s;
    overflow:hidden;
    background-color:#DEE5E5;

}
.about-container:hover{
    box-shadow: 5px 5px 10px rgba(0,0,0,0.15);
    border-width:1px;
    border-style:solid;
    border-color:#17B890;

}
.texts{
    width:auto;
    margin-left:10px;
    background-color: #9DC5BB;
    
}
.aboutus-header{
    font-family:taviraj;
    color:#17B890;
    font-size:large;
    font-weight:600;
    text-align:center;
    
}
.aboutus-body{
    color:black;
}
.section1,.section2,.section3{
    border-width:1px;
    border-style:none;
    border-color:#9DC5BB;
    padding:10px;
    box-shadow: 0 0  5px #9DC5BB;
    height:auto;
}
.section1{
    transition:all 2s;
    height:auto;
}
.section1:hover{
    background-color: #9DC5BB;

}
.cateogories-header {
    text-align: center;
    color:black;
    font-family:taviraj;
    font-weight:600;
    font-size:larger;
}
.cateogories-header1{
    text-align: center;
    color:black;
    font-family:taviraj;
    font-weight:600;
    font-size:larger;
}
.section2{
    margin: 0;
    height:auto;
    background-color:#DEE5E5;
    transition: all 1.5s;
    
    
}
.section2:hover{
    background-color: #9DC5BB;
}
.section3{
    width:100%;
    background-color:#DEE5E5;
    height: auto;
    padding-bottom: 5%;
    transition: all 1.5s;
    
}
.section3:hover{
    background-color:#9DC5BB;
}
.cateogory-container{
    display:flex;
    flex-direction:row;
    width:80%;
    margin-left:auto;
    flex-wrap:wrap;
    margin-right:auto;
    justify-content: space-around;
    
    

    
}
.images-text{
    margin:20px;
    
}
.cateogory-text{
    text-align:center;
    font-family:taviraj;
    color:black;
    font-weight:500;
    width:100px
    
}

.images{
    width: 100px;
    max-width: 150px;
    border-radius: 100%;
    border-width:1px;
    border-style:none;
    transition:box-shadow 0.15s;

}
.images:hover{
    box-shadow:0 0 5px #9DC5BB ;
    transition-timing-function: ease-in;
    
}
.images:active{
    box-shadow:1px 1px 5px #17B890;
    transition-timing-function: ease-in-out;
}
.product-main-container{
    padding-top: 2%;
    display:flex;
    padding-bottom: auto;
    flex-direction:row;
    flex-wrap:wrap;
    justify-content: space-evenly   ;
    width:80%;
   /* row-gap: 2%;
    column-gap: 2%; */
    margin-left:auto;
    margin-right:auto;
   
     
    
}

.p-images{
    width:80%;
    display: block;
    margin-left: auto;
    margin-top:10px;
    margin-right: auto;
    border-radius:8px;
    
    
}
.product-container{
    margin-bottom:2rem;
    width:200px;
    height:19em;
    background-color:#DEE5E5;
    border-radius:8px;
    transition:box-shadow 0.15s;
    
}
.product-container:hover{
    box-shadow: 0 0 5px #17B890;
}
.product-image{
    display:grid;
    grid-template-rows: auto 100px 30px ;
    width:200px;
    background-color:#e4e5e8;                  
}
.product-text{
    display:grid;
    grid-template-columns: 150px;
    column-gap: 5px;
    width:150px;
    margin-left:auto;
    margin-right:auto;
}
.p-text{
    width:100%;
    font-size:small;
    text-align:center;
    margin-bottom:0px;

}
.light-text{
    text-align:center;
    color:#17B890;
    margin-bottom: 0;
    

}
.price{
    text-align:center;
    font-weight:bold;
    padding-bottom:5px;
    margin-bottom:0;
    margin-top: 0;

    
}
.add-to-cart-button{
    width:200px;
    

}
.cart-button{
    width:100%;
    border-style:none;
    background-color:#17B890;
    height:30px;
    transition:all 0.5s;
}
.cart-button:hover{
    background-color:#9DC5BB;
    color:white;
    box-shadow:0 0 5px #17B890;
    font-weight: 700;

}
.cart-button:active{
    background-color:#9DC5BB;
    color:#17B890;
    box-shadow:0 0 5px #17B890;
    font-weight: 700;
    text-shadow: 0 0 5px #DEE5E5;
}
#name{
    color:white;
    font-family:taviraj;
    font-weight:bold;
}
.product-para {
    text-align:center;
    margin-bottom:0
}
.ul-div{
    text-align:center;

}
.ul-list{
    display:inline-block;
    text-align:left;
}
#name{
    color:#17B890;
}






/*About us page*/
.section4{
    margin-bottom:5px;
}
.aboutus-image-container{
    width:100%;
    height:360px;
}
.main-aboutus-image{
    width:100%;
    height:100%;
    object-fit: cover;
    
}
.welcome-main-container{
    display:grid;
    grid-template-columns: 1fr 1fr;
    /*margin-left:15px;
    margin-right:15px;
    border-width:1px;
    border-style:solid;*/
}
.welcome-image{
    width:100%;
}
.text-container{
    margin-left:10px;
    margin-right:10px;
}
.welcome-header{
    font-family:taviraj;
    padding-top:2px;
    margin-top: 0;
    text-align:center;
}
.hr-header{
    width:50%;
}
.hr-header1{
    border-color:white;
    border-style:solid;
    width:50%;
}

.logo-text{
    color:#17B890;
    transition:all 0.5s;
}
.logo-text1{
    color:white;    
}
.list-texts{
    font-size:2em;
    text-align: justify;
}
.welcome-text{
    color:#17B890;
    font-family:taviraj;
    font-weight:600;
}
.section5{
    background-color:#9DC5BB
}
.branches-main-container{
    display:grid;
    grid-template-rows: auto 1fr;
}
.branch-image-container{
    width:100%;
}
.branch-image{
    width:100%;
    
}
.branch-text{
    text-align: center;
}
.branch-location-container{
    display:grid;
    grid-template-rows:auto 1fr ;

}
.branch-location-sub-container{
    display:grid;
    grid-template-columns: 1fr 1fr ;
    column-gap: 20px;
    margin-left:10px;
    margin-right:10px;
}
.location-container{
    display:grid;
    grid-template-rows: auto auto auto;
    border-style:solid;
    border-width: 1px;
    border-color: #17B890;
}
.map-conatiner{
    width:600px;
}
.map{
    width:100%;
}
table{
    width:100%;

}
tr:nth-child(even){
    background-color:#9DC5BB
}
table th{
    background-color:#17B890
}
tfoot{
    border-bottom-style: solid;
    border-bottom-width: 1px;
    border-bottom-color: #17B890;

}
.section6{

    transition:all 0.5s;
}
.section6:hover{
    background-color:#9DC5BB;


}
.section6:hover .logo-text{
    color:#DEE5E5;
}

.section6:hover tr:nth-child(even){
    background-color:#DEE5E5
}
.logo-text:hover{
    color:white;
}
.main-section3-container{
    width:90%;
    height:auto;
    margin-left:auto;
    margin-right:auto;
    
    
}
@media (max-width:600px){
    .welcome-main-container{
        grid-template-rows: auto 1fr;

    }
}

/**/


/*vegetable product page*/
.section8{
    
    background-color: #9DC5BB;
    height:auto;
    width:100%;
    margin:0;
    padding-bottom: 5%;
}
.cateogory-vegetable-text-container{
    width:80%;
    margin-left: auto;
    margin-right:auto;
}
.cateogory-vegetable-text{
    text-align:center;
    width:100%;

}
.text-highlight{
    color:white;
    font-weight:700;
}
.hr-header2{
    border-color:#DEE5E5;
    border-style: solid;
    width:50%;
}
.product-main-container1{
    padding-top: 2%;
    display:grid;
    padding-bottom: auto;
    width:80%;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    row-gap: 2%; 
    margin-left:auto;
    margin-right:auto;
   
}
/* Dairy product page  */
.product-main-container2{
    display:flex;
    flex-wrap:wrap;
    align-items:center;
    justify-content:space-evenly;
    width:80%;
    margin-right:auto;
    margin-left:auto;

}
.product-main-container2 .product-container{
    margin-bottom:2rem;
    margin-top:2rem;
}
.list-dairy-products li{
    padding:1rem;
}
/*cosmatic page*/
.cosmatic-table{
    width:90%;
    margin-left:auto;
    margin-right:auto;
    padding-top:2%;

}
/* loyalty page */

.loyalty-main-box{
    display:flex;
    justify-content: space-evenly;
    flex:1 1 1 ;
    flex-direction: row;
    flex-wrap: nowrap;
    width:80%;
    margin-left:auto;
    margin-right:auto;
    padding-top: 5%;

}
.loyalty-header{
    font-family:taviraj,sans-serif;
    color:black;
    font-weight:bolder
}
.section8 .cateogories-header{
    color:black;
}
#premium{
    color:gold;
    text-shadow:0 0 5px black;
}
#grand{
    color:red;
    text-shadow:0 0 5px white;  
}
#platinum{;
    text-shadow:0 0 5px black;
    color:#e5E4E2;
}
.loyalty-text-container{
    width:80%;
}
.loyalty-text{
    width:100%;
}
.section8 .cateogories-header{
    margin-top:0;
    padding-top:2%;
}
.premium-pass-container,.grand-pass-container,.platinum-pass-container{
    display:flex;
    flex-direction: column;
    align-items: center;
    border-radius:8px;
    border-width: 1px;
    box-shadow: 0 0 10px #17B890;
    
}
.premium-pass-container,.grand-pass-container{
    margin-right:2%
}
.registration-form{
    width:90%;
    margin-left:auto;
    margin-right:auto;
}
form table td{
    padding-bottom:2%;
 
}

fieldset{
    margin-bottom: 2%;
}
#feildset1 input{
    width:90%;    
    
}
.subscribe-button1{
    width:auto;
    background-color: #17B890;
    color:black;
    border-style:none;
    padding:  5px 10px 5px 10px;
    font-family:taviraj;
    font-weight:700;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 10px;
    transition: all 0.5s;
}
.subscribe-button1:hover{
    background-color:#17B890;
    box-shadow: 5px 5px 10px rgba(0,0,0,0.15);
    border-width: 1px;
    border-color:#9DC5BB;
    border-style:solid;
}
.subscribe-button1:active{
    background-color:#9DC5BB;
}
#button-container{
    display:flex;
    
    justify-content: center;
}