/*homepage*/
#banner-aboutus-main-container{
    display:flex;
    flex-direction: column;
    padding-bottom:50px;
    justify-content: space-between;
    
}
#banner-container{
    width:auto;
}
#banner-image{
    width:100%;
    height:100%;
}

#about-us-container{
    display:flex;
    align-items: flex-start;
    flex-direction:row;
    flex:1 1 ;
    margin-top:50px;
    background-color: #DEE5E5;
    width:90%;
    margin-left:auto;
    margin-right:auto;
    border-radius:10px;
   
    
}
#about-us-image-container{
    margin-left:2px;
    width:100%;
    
}
.section2:hover .logo-text{
    color:#DEE5E5;
}

#about-us-image{
    width:100%;
}
#about-us-text-container{
    width:90%;
    margin-left: auto;
    margin-right: auto;
    font-size:1.5rem;
    font-family: taviraj;
}
.texts{
    width:auto;
    margin-left:10px;
    background-color: #9DC5BB;
    
}
.aboutus-header{
    color:#17B890;
    font-weight:600;
    font-size:2rem;
    text-align:center;
    
}
.ul-list{
    width:70%;
    margin-left:auto;
    margin-right:auto;
}
.aboutus-body{
    color:black;
}
.section1,.section2,.section3,footer{

    width:100%;
    border-width:1px;
    border-style:none;
    border-color:#9DC5BB;
    box-shadow: 0 0  5px #9DC5BB;
   

}
.section1{
    transition:all 2s;
    
}
.section1:hover{
    background-color: #9DC5BB;
}  

.cateogories-header {
    text-align: center;
    font-size: 2rem;;
    padding-top:10px;
    margin-top: 0;
    color:black;
    font-family:taviraj;
    font-weight:600;
   
}
.cateogories-header1{
    text-align: center;
    margin-top:0;   
    padding-top:10px;
    color:black;
    font-family:taviraj;
    font-weight:600;
    font-size:larger;
}
.section2{
    margin: 0;
    height:auto;
    background-color:#DEE5E5;
    transition: all 1.5s;
    
    
}
.section2:hover{
    background-color: #9DC5BB;
}
.section3{
   
    background-color:#DEE5E5;
    height: auto;
    padding-bottom: 5%;
    transition: all 1.5s;
    
}
.section3:hover{
    background-color:#9DC5BB;
}
.section3:hover .logo-text{
    color:#DEE5E5;
}

.cateogory-container{
    display:flex;
    flex-direction:row;
    width:80%;
    margin-left:auto;
    flex-wrap:wrap;
    margin-right:auto;
    justify-content: space-around;
}

.images-text{
    margin:20px;
    display:flex;
    flex-direction: column;
    align-items: center;
    flex-wrap:wrap;
    
}
.cateogory-text{
    text-align:center;
    font-family:taviraj;
    font-size:2rem;
    color:black;
    font-weight:500;
    width:auto;
    
}

.images{
    width: 100%;
    max-width: 350px;
    border-radius:25%;
    transition:box-shadow 0.15s;

}
.images1{
    width: 100%;
    max-width: 350px;
    border-radius:25%;
    height:200px ;
    transition:box-shadow 0.15s;
}
.images:hover, .image1:hover{
    box-shadow:0 0 5px #9DC5BB ;
    transition-timing-function: ease-in;
    
}
.images:active, .images1:active{
    box-shadow:1px 1px 5px white;
    transition-timing-function: ease-in-out;
}
.product-main-container{
    padding-top: 2%;
    display:flex;
    padding-bottom: auto;
    flex-direction:row;
    flex-wrap:wrap;
    justify-content: space-evenly  ;
    width:80%;
    margin-left:auto;
    margin-right:auto;
   
     
    
}

.p-images{
    width:80%;
    display: block;
    margin-left: auto;
    margin-top:10px;
    margin-right: auto;
    border-radius:8px;
    
    
}
.product-container{
    margin:1rem;
    width:200px;
    height:20em;
    background-color:#DEE5E5;
    border-radius:8px;
    transition:box-shadow 0.15s;
    position:relative;
}
.product-container:hover{
    box-shadow: 0 0 5px #17B890;
}
.product-image{
    display:grid;
    grid-template-rows: auto 100px ;
    width:200px;
    background-color:#e4e5e8;                  
}
.product-text{
    display:grid;
    grid-template-columns: 1fr;
    column-gap: 5px;
    width:200px;
    margin-left:auto;
    margin-right:auto;
}
.p-text{
    width:90%;
    font-size:0.9rem;
    text-align:center;
    margin-bottom:0px;
    margin-top:3%;
    margin-right:auto;
    margin-left:auto;

}
.light-text{
    text-align:center;
    margin-top:1%;
    color:#17B890;
    margin-bottom: 0;
    

}
.price{
    text-align:center;
    font-weight:bold;
    margin-bottom:1%;
    margin-top: 0;

    
}
.add-to-cart-button{
    width:200px;
    position:absolute;
    bottom: 0;
    

}
.cart-button{
    width:100%;
    border-style:none;
    background-color:#17B890;
    height:30px;
    transition:all 0.5s;
}
.cart-button:hover{
    background-color:#9DC5BB;
    color:white;
    box-shadow:0 0 5px #17B890;
    font-weight: 700;

}
.cart-button:active{
    background-color:#9DC5BB;
    color:#17B890;
    box-shadow:0 0 5px #17B890;
    font-weight: 700;
    text-shadow: 0 0 5px #DEE5E5;
}


.product-detail-image{
    width:100%;
    border-radius: 10px;

}
#product-detail-main-container{
    display:flex;
    flex-direction: column;
    flex-wrap: wrap;
    width:90%;
    margin:auto;
}
.product-detail-images-container{
    width:40%;
    
    
    
}
.product-detail-container{
    display:flex;
    flex-direction: row-reverse;
    padding:1%;
    width:100%;
    margin-left:auto;
    margin-right:auto;

}
.text-detail-container{
    margin-left:50px;
    margin-right:0;
    width:90%;
}
.ul-list{
   margin-left:5%;
   margin-right:auto;
}
.ul-list li{
    padding-bottom:10px;
    
    font-size: 1.2rem;
}
.ul-list h3{
    margin-top:0;
}


@media all and (max-width:1244px){
    #about-us-container{
        flex-direction: column;
        align-items:center;
        justify-content: center;
        width:90%;
        margin-bottom: 5%;
    }
    #aboutus-image-container{
        width:auto;
        
    }
    #about-us-image{
        width:100%;
        margin-top:10%;
    }
    .aboutus-header{
        margin-top:5%;
    }
    .product-detail-container{
        flex-direction: column-reverse;
        align-items: center;
        
    }
    
    .ul-list ul li{
        font-size: 1.5rem;
    }
    .product-detail-images-container{
        margin-top:10%;
    }

}
@media (max-width:650px){
   .aboutus-header,.cateogories-header{
    font-size: 1.5rem;
   }
   .aboutus-body{
    font-size: 1.2rem;
   }
   .text-detail-container{
    margin:0;
   }
   .ul-list ul li {
    font-size:smaller;

   }
   .product-detail-container{
    width:100%;
   }
   .product-detail-images-container{
    width:100%;
   }
   #about-us-container{
    margin-top:1%;
   }
   .ul-list{
    margin-left: 0;
   }
}

/*About us page*/
.section4{
    margin-bottom:5px;
}
.aboutus-image-container{
    width:100%;
    height:360px;
}
@media (max-width:700px){
    .main-aboutus-image{
        display: none;
    }
   .main-aboutus-image-mobile{
    width: 100%;
    height:max-content;
   }
   .section4{
    margin-bottom:0;
   }
   .aboutus-image-container{
    height:auto;
   }
}
@media (min-width:700px){
    .main-aboutus-image-mobile{
        display: none;
    }
}
.main-aboutus-image{
    width:100%;
    height:100%;
    object-fit: cover;
    
}
.welcome-main-container{
    display:grid;
    grid-template-columns: 1fr 1fr;
  
}
.welcome-image{
    width:100%;
    margin-left: auto;
    margin-right: auto;
}
.text-container{
    margin-left:10px;
    margin-right:10px;
}
.welcome-header{
    font-family:taviraj;
    padding-top:2px;
    margin-top: 0;
    text-align:center;
}
.hr-header{
    width:50%;
}
.hr-header1{
    border-color:white;
    border-style:solid;
    width:50%;
}

.logo-text{
    color:#17B890;
    transition:all 0.5s;
}
.logo-text1{
    color:white; 
    
}
.list-texts{
    font-size:2em;
    text-align: justify;
}
.welcome-text{
    color:#17B890;
    font-family:taviraj;
    font-weight:600;
}
.section5{
    background-color:#9DC5BB
}
.branches-main-container{
    display:grid;
    grid-template-rows: auto 1fr;
}
.branch-image-container{
    width:100%;
}
.branch-image{
    width:100%;
    
}
.location-container{
    display:flex;
    flex-direction: column;
    width:95%;
    justify-content:space-evenly;
    margin-left:auto;
    margin-right:auto;
    
}
.location-map-text-images-container{
    display:flex;
    justify-content: center;
    flex-direction:column;
    align-items: center;
    width:80%;
    font-size:1.5rem;
    border-width: 2%;
    margin-left:auto;
    margin-right:auto;
}
.location-sub-container{
    background-color:#DEE5E5;
    border-radius:5%;
    margin-bottom:50px;

}
.maps{
    width:100%;
    height:500px;
}
.location-header-container{
    margin-left:auto;
    margin-right:auto;
    font-size: 2rem;
    font-family: taviraj;
    font-weight:700;
}
.location-decription-container{
    padding-left:5%;
    
}
.location-text{
    width:100%;
    line-height:1.6;
    padding-bottom: 6%;
}
.location-image{
    width:100%;
    margin-bottom: 10%;
}
.location-image-container{
    display:flex;
    flex-direction:  column;
    margin-bottom:5%;
}


.branch-text{
    text-align: center;
}
.branch-location-container{
    display:grid;
    grid-template-rows:auto 1fr ;

}


.service-table tr:nth-child(even){
    background-color:#9DC5BB
}
.service-table th{
    background-color:#17B890

}
.service-table{
    width:100%;
    text-align: center;
    font-size: 1rem;;
}
tfoot{
    border-bottom-style: solid;
    border-bottom-width: 1px;
    border-bottom-color: #17B890;

}
.section6{

    transition:all 0.5s;
}
.section6:hover{
    background-color:#9DC5BB;


}
.section6:hover .logo-text{
    color:#DEE5E5;
}

.section6:hover tr:nth-child(even){
    background-color:#DEE5E5
}
.logo-text:hover{
    color:white;
}
.main-section3-container{
    width:90%;
    height:auto;
    margin-left:auto;
    margin-right:auto;
    
    
}
@media  (min-width:1517px){
    .welcome-main-container{
        display: flex;
        flex-wrap: wrap-reverse;
        font-size: 2rem;
    }
    .text-container{
        font-size:2rem;
    }
    .location-map-text-images-container{
        flex-direction:column;
    }
    .location-image-container{
        align-items: center;
        margin-bottom:1%;
    }
    .service-table{
        font-size:2rem;
    }
}   
@media (max-width:600px){
    .welcome-main-container{
        display:flex;
        flex-direction: column-reverse;
    }
    .location-sub-container{
        border-radius: 10px;
    }
}



/*vegetable product page*/
.section8{
    
    background-color: #9DC5BB;
    padding-top:5%;
    height:auto;
    width:100%;
    margin:0;
    padding-bottom: 5%;
}
.cateogory-vegetable-text-container{
    width:80%;
    margin-left: auto;
    margin-right:auto;
   
}
.cateogory-vegetable-text{
    text-align:center;
    width:100%;
    margin-bottom:10%;

}
.text-highlight{
    color:white;
    font-weight:700;
}
.hr-header2{
    border-color:#DEE5E5;
    border-style: solid;
    width:50%;
}
.product-main-container1{
   
    padding-bottom:5%;
    padding-top: 2%;
    display:grid;
    width:80%;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    row-gap: 2%; 
    margin-left:auto;
    margin-right:auto;
    margin-top:10%;
   
}
@media all and (max-width:1318px){
    .product-main-container1{
        grid-template-columns: 1fr 1fr 1fr ;
        margin-bottom:80%;
    }

}
@media all and (max-width:828px){
    .product-main-container1{
        grid-template-columns: 1fr 1fr;
        margin-bottom: 65%;
        width:60%;
        margin-left: auto;
        margin-right: auto;
    }
}
@media all and (max-width:521px){
    .product-main-container1{
        grid-template-columns: 1fr;
        width:50%;
        row-gap: 0;

    }
}


/* Dairy product page  */
.product-main-container2{
    display:flex;
    flex-wrap:wrap;
    align-items:center;
    justify-content:space-evenly;
    width:80%;
    margin-right:auto;
    margin-left:auto;

}
.product-main-container2 .product-container{
    margin-bottom:2rem;
    margin-top:2rem;
}
.list-dairy-products li{
    padding:1rem;
}
/*cosmatic page*/
.cosmatic-table{
    width:90%;
    margin-left:auto;
    margin-right:auto;
    padding-top:2%;

}
.cosmatic-table1{
    width:80%;
    margin-left:auto;
    margin-right:auto;
    padding-top:2%;
    
}
.cosmatic-table2{
    width:70%;
    margin-left:auto;
    margin-right:auto;
    padding-top:2%;
}
.cosmatic-table3{
    width:60%;
    margin-left:auto;
    margin-right:auto;
    padding-top:2%;
}
.cosmatic-table4{
    width:40%;
    margin-left:auto;
    margin-right:auto;
    padding-top:2%;
}
#table-container{
    overflow: hidden;
}
@media (min-width:1390px) {
    .cosmatic-table1,.cosmatic-table2,.cosmatic-table3,.cosmatic-table4{
        display:none;
    }
}
@media (min-width:1153px) and (max-width:1390px){
    .cosmatic-table,.cosmatic-table2,.cosmatic-table3,.cosmatic-table4{
        display:none;
    }
}
@media (min-width:914px) and (max-width:1153px){
    .cosmatic-table,.cosmatic-table1,.cosmatic-table3,.cosmatic-table4{
        display:none;
    }

}
@media (min-width:709px) and (max-width:914px){
    .cosmatic-table,.cosmatic-table1,.cosmatic-table2,.cosmatic-table4{
        display:none;
    }
}
@media (max-width:709px){
    .cosmatic-table,.cosmatic-table1,.cosmatic-table2,.cosmatic-table3{
        display:none;
    }
}
/* loyalty page */
.loyalty-main-image{
    width:100%;
    height:25rem;
    object-fit: cover;
}
.loyalty-main-image1{
    width:100%;
}
.aboutus-image-container1{
    width:100%;
    height:360px;
}

@media (max-width:700px){
    .loyalty-main-image{
        display: none;
    }
   .aboutus-image-container1{
    width: 100%;
    height:max-content;
   }
}
@media (min-width:700px){
    .loyalty-main-image1{
        display: none;
    }
}

.loyalty-main-box{
    display:flex;
    justify-content: space-evenly;
    flex:1 1 1 ;
    flex-direction: row;
    flex-wrap: nowrap;
    width:80%;
    margin-left:auto;
    margin-right:auto;
    padding-top: 1%;

}
.mobile-form{
    margin-top:2%;
    width:90%;
    margin-left:auto;
    margin-right:auto;
}
.form label{
    font-size:1.2rem;
}
@media (max-width:890px){
    .form-container{
        flex-direction:column;
    }
}
.form input{
    border:none;
    height:40px;
    font-size: 0.9rem;
    border-radius:10px;
    padding-left:10px;
}
.form-container{
    display:flex;
    column-gap: 10px;
    width:50%;
}
.form{
    display:flex;
    flex-grow: 1;
    flex-wrap: wrap;
    flex-direction:column;
    width:90%;

}
.form textarea{
    height:50px;
    width:50%;
    resize:none;
    font-size:1.2rem;
    color:grey;
    font-family: sans-serif;
    padding:1%;
    border-radius:4px;
    
}
.options{
    height:50px;
    width:20%;
}
@media all and (max-width:1280px){
    .loyalty-main-box{
        flex-direction: column;
    }
    .premium-pass-container,.grand-pass-container,.platinum-pass-container{
        margin-top:5%;
        margin-right: 0;
    }
    .loyalty-main-image{
        width:100%;
    }
}
@media all and (max-width:535px){
    .registration-form{
        display:none
    }
}
@media (min-width:536px){
    .mobile-form{
        display:none;
    }
}
.loyalty-header{
    font-family:taviraj,sans-serif;
    color:black;
    font-weight:bolder
}
.section8 .cateogories-header{
    color:black;
}
#premium{
    color:gold;
    text-shadow:0 0 5px black;
}
#grand{
    color:red;
    text-shadow:0 0 5px white;  
}
#platinum{
    text-shadow:0 0 5px black;
    color:#e5e4e2; 
}
.loyalty-text-container{
    width:80%;
}
.loyalty-text{
    width:100%;
}
.section8 .cateogories-header{
    margin-top:0;
    padding-top:2%;
}
.premium-pass-container,.grand-pass-container,.platinum-pass-container{
    display:flex;
    flex-direction: column;
    align-items: center;
    border-radius:8px;
    border-width: 1px;
    box-shadow: 0 0 10px #17B890;
    
}
.premium-pass-container,.grand-pass-container{
    margin-right:2%
}
.registration-form{
    width:90%;
    margin-left:auto;
    margin-right:auto;
}
form table td{
    padding-bottom:2%;
 
}

fieldset{
    margin-bottom: 2%;
}
#feildset1 input{
    width:90%;    
}

.subscribe-button1{
    width:10rem;
    background-color: #17B890;
    color:black;
    border-style:none;
    padding:  5px 10px 5px 10px;
    font-family:taviraj;
    font-weight:700;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 10px;
    transition: all 0.5s;
}
.subscribe-button1:hover{
    background-color:#17B890;
    box-shadow: 5px 5px 10px rgba(0,0,0,0.15);
    border-width: 1px;
    border-color:#9DC5BB;
    border-style:solid;
}
.subscribe-button1:active{
    background-color:#9DC5BB;
}
#button-container{
    display:flex;
    align-items: center;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
}
/*order page*/
.order-page-main-container {
    width:80%;
    margin-left:auto;
    margin-right:auto;

}
.order-box{
    background-color: rgba(23,184,144,0.3);
    display:flex;
    flex-grow: 1;
    justify-content: space-evenly;
    flex-direction: column;
    border-radius: 10px;
    padding-bottom: 5%;
    padding-top: 5%;
}
.payment-buttons{
    width:50%;
    

}
#payment-container p{
    font-family: sans-serif;
    color: white;
    font-weight: 700;
    padding-right:2%;
    font-size:1.6rem;
}
.payment-images{
    width:90%;
}
#payment-container{
    display:flex;
    align-items: center;
    justify-content:center;
    flex-wrap: wrap;
    

}
.order-box input[type=text],input[type=number],input[type=tel],input[type=email],select{
    width: 100%;
    padding-top:12px;
    padding-bottom: 12px;
    border-radius: 4px;
    border-style: none;
    font-family: sans-serif;
    font-size: large;
    padding-left: 8px;

}
.order-page-main-container{
    padding-bottom: 5%;
}