
/*the  heaader section*/
header{
    z-index:100;
}
.main-header{
    background-color: #dddddd;
    height: 80px;
    display:flex;
    flex:300px 1 250px;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    position:fixed;
    top:0;
    left:0px;
    right:0px; 
    padding:20px 0 20px 0;
    position:fixed;
    
}
/*the middle section of the header */
.middle-section{
    display:flex;
    flex:1;
    align-items: center;
    max-width:50%;
    min-width: 1%;
    

}
.search{
    flex:1;
    display: flex;
    height:35px;
    font-size:14px;
    font-family:sans-serif,arial;
    border-bottom-left-radius:6px;
    border-style:none;
    background-color:#F6F6E9;
    color:#9DC5BB;
    max-width: 600px;
    min-width:0;


}
.search-button{
    height:35px;
    background-color:#9DC5BB;
    border:1px;
    border-top-right-radius: 20%;
    cursor:pointer;
    transition:all 0.5s;
}
.search-button:hover{
    background-color:#17B890;
    box-shadow: 5px 5px 10px rgba(0,0,0,0.15);
    border-width: 1px;
    border-color:#9DC5BB;
    border-style:solid;    
}
/*the left section of the header*/
.left-section{
    display:flex;
    flex:1;
    align-items: center;
    flex-shrink:0;
    padding-left:5px;
    padding-right: 1%;
}
.brand-name{
    width:auto;
    color:#17B890;
    font-family:"taviraj",sans-serif; 
    margin:0 0 0 10px;
    font-weight:1000;
    font-size:larger;
    

 }
 .logo-span{
    color: black;
 }
.logo-div{
    width:70px;
}
.logo{
    width:100%;
    border-radius: 50%;
    border-color: #9DC5BB;
}
/*the right section of the header*/
.right-section{
    display:flex;
    align-items:center;
    justify-content:flex-end;
   
    width:180px;
    flex-shrink: 0;
}

.button-container{
    margin:2%;
}
.cart-icon{
    width:100%; 
    
}
.login-icon{
    width:100%;
   
}
.my-list-icon{
    width:100%;
    
}
.all-button{
    height:40px;
    width:40px;
    background-color:#9DC5BB;
    border:1px;
    cursor:pointer;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 10px;
    transition:all 0.5s;
    
}
.all-button:hover{
    background-color:#17B890;
    box-shadow: 5px 5px 10px rgba(0,0,0,0.15);
    border-width: 1px;
    border-color:#9DC5BB;
    border-style:solid;    

}

/*the navigational pannel*/

/* .main-nav{
    background-color:#17B890 ;
    position:fixed;
    left:0;
    right:0;
    top:100px;
    overflow:hidden;
    font-family:taviraj,sans-serif;
    text-align: center;
    padding:10px 0 10px 0;
    font-weight:600;
    font-size: large;
    width:100%;
    margin-bottom:0;
}
.sub-nav{
    list-style-type: none;
    float:left;
    margin: 0;
}
.sub-nav a{
    display:block;
    text-decoration:none;
    padding-right:5%;
    padding-left:5%;
    margin-left:0;
    color:white;
}

.sub-nav a:hover{
    
    color:#DEE5E5;
    border-color: #9DC5BB;
    font-weight:bold;

}
.sub-nav a:active{
    color:#dddddd;
    
} */
.top-nav-container{
    background-color:#5ABFA6;
    position:fixed;
    left:0;
    right:0;
    top:100px;
    overflow:hidden;
    font-family:taviraj,sans-serif;
    text-align: center;
    
    font-weight:600;
    font-size: large;
    width:100%;
    margin-bottom:0;
}
.top-nav-container a{
    float:left;
    text-decoration:none;
    padding:14px 16px;
    color:white;

}
.top-nav-container a.split-nav{
    float: right;
    background-color:#17B890;
    color:white;
}
.top-nav-container a.split-nav:hover{
    float: right;
    background-color:#dddddd;
    color:black;
}
.top-nav-container a:hover{
    float:left;
    text-decoration:none;
    padding:14px 16px;
    color:white;
    background-color:#17B890;

}