body{
    margin-left:0px;
    margin-top:170px;
    margin-right:0;
    background-color: #DEE5E5;
    font-family:sans-serif,taviraj;
   
}
a{
    text-decoration:none;
}
p{
    color:black;
}
hr{
    border-color: #9DC5BB;
    border-style:solid;
    border-width:1px;
}
footer{
    height:auto;
    
    
    
}
nav{
    position:relative;
}

