
/*the  heaader section*/
.main-header{
    background-color: #dddddd;
    height: 80px;
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    position:fixed;
    top:0;
    left:0px;
    right:0px; 
    padding:20px 0 20px 0;
}
/*the middle section of the header */
.middle-section{
    display:flex;
    flex:1;
    align-items: center;
    max-width:500px;

}
.search{
    width:300px;
    height:35px;
    font-size:14px;
    font-family:sans-serif,arial;
    border-bottom-left-radius:6px;
    border-style:none;
    max-width:350px;
    background-color:#F6F6E9;
    color:#9DC5BB;


}
.search-button{
    height:35px;
    background-color:#9DC5BB;
    border:1px;
    border-top-right-radius: 20%;
    cursor:pointer;
}
/*the left section of the header*/
.left-section{
    display:flex;
    flex:200px;
    align-items: center;
    flex-shrink:0;
    padding-left:20px;
}
.brand-name{
    width:300px;
    color:#17B890;
    font-family:"taviraj",sans-serif; 
    margin:0 0 0 10px;
    font-weight:1000;
    font-size:larger;
    

 }
.logo-div{
    width:70px;
}
.logo{
    width:100%;
    border-radius: 50%;
    border-color: #9DC5BB;
}
/*the right section of the header*/
.right-section{
    display:flex;
    flex:300px;
    align-items: center;
    justify-content: space-evenly;
    padding-right: 50px;
}
.hot-deals-icon{
    width:90px;
    margin-left:10px;
    
}
.hot-deals-icon:hover{
    opacity:30%;
    cursor:pointer;
}
.cart-icon{
    width:100%;
    
}
.login-icon{
    width:100%;
   
}
.my-list-icon{
    width:100%;
    
}
body{
    margin-left:0px;
    margin-top:200px;
    background-color: #DEE5E5;
    

}
.all-button{
    height:40px;
    width:40px;
    background-color:#9DC5BB;
    border:1px;
    cursor:pointer;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 10px;
    
}

/*the navigational pannel*/

ul{
    background-color:#17B890 ;
    position:fixed;
    left:0;
    right:0;
    top:100px;
    overflow:hidden;
    font-family:"taviraj",sans-serif;
    text-align: center;
    padding:10px 0 10px 0;
    
    
    

}
li a{
    display:block;
    text-decoration:none;
    padding-right:50px;
    padding-left:50px;
    margin-left:0;
    color:black;
}
ul li{
    list-style-type: none;
    float:left;
    margin: 0;
}
ul li a:hover{
    
    color:#DEE5E5;
    border-color: #9DC5BB;
    font-weight:bold;

}
ul li a:active{
    background-color: ;
    color:#dddddd;
    
}
p{
    color:black;
}
/*section  cateogories and banners*/
.section1-conatiner{
    display: flex;
    flex-direction:row;
    flex: 50% 50%
    
      
}
.banner-aboutus{
    display:flex;
    flex-direction:row;
    flex: 1 1;
    justify-content: space-evenly;
}
.banners{
    width:100%;
}

.banner-div{
    width:800px;
}

.grocies-aboutus{
    width:400px;
    border:1px;
    border-color:#9DC5BB;
}
span{
    font-family:sans-serif,arial;
    
}
.header-paragraph{
    font-size:larger;
    font-family:sans-serif,arial;
    color:#17B890  ;
    padding-bottom: 10px;
    font-weight: bold;
    
}
.store-building{
    width:250px;
    display:block;
    margin-left:auto;
    margin-right:auto;

}